.dashboard-body {
  padding-top: calc(99px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .dashboard-body {
    padding-top: calc(99px + 2.5rem);
    padding-left: calc(400px + 2.5rem);
  }
}
