/* Positionnement du logo */

.logo {
  position: absolute;
  width: 30px;
  left: 0.25rem;
  top: 0.25rem;
}

/* Container global register / login page */

.container-form-register {
  display: flex;
  justify-content: space-between;
}

/* Container demande d'accès */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-color: #adadad;
}

/* Stylisation du bouton accès */

.login-register {
  height: 50px;
  background-color: #fca311;
  border-radius: 5px;
  border: 2px solid #af1616;
  padding: 0 1rem;
}

/* Stylisation du formulaire login page */

.formulaire-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

.wrapper-connect-login-page {
  width: 60%;
}

/* Marge sur les labels et inputs */

.container-form-register label {
  margin: 1rem 0;
}

.container-form-register input {
  margin: 1vh auto 2vh;
}

/* Stylisation du bouton login page */

.left a {
  width: 90%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.login-connection button {
  width: 100%;
  height: 50px;
  margin: 1rem 0;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
    left: 0.5rem;
    top: 0.5rem;
  }

  .left {
    width: 32%;
  }

  .left a {
    width: 60%;
  }

  .formulaire-login-page {
    width: 68%;
  }

  .wrapper-connect-login-page {
    width: 60%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024px) {
  .logo {
    width: 90px;
    left: 0.75rem;
    top: 0.75rem;
  }

  .left {
    width: 30.8%;
  }

  .formulaire-login-page {
    width: 69.2%;
  }

  .wrapper-connect-login-page {
    width: 60%;
  }
}
