.media-dashboard .title {
  display: flex;
  justify-content: space-between;
}

.media-dashboard .media-dashboard-body {
  margin-top: 3rem;
}

.media-dashboard .media-dashboard-body .form-media {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 0;
}

.media-dashboard .media-dashboard-body .form-media .form-group button {
  margin-left: auto;
  grid-column: 2;
  max-width: fit-content;
}

.media-dashboard .media-dashboard-body .form-media .button-action {
  margin-left: auto;
}

.media-dashboard
  .media-dashboard-body
  .form-media
  .button-action
  > *:not(:last-child) {
  margin-right: 1rem;
}

.media-dashboard .media-dashboard-body .form-media .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.media-dashboard .media-dashboard-body .form-media .roles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 0;
}

.media-dashboard .media-dashboard-body .form-media .roles > *:not(:last-child) {
  margin-right: 1rem;
}

.media-dashboard .media-dashboard-body .form-media .roles input {
  margin-right: 1rem;
}

.media-dashboard .media-dashboard-body .form-media .roles div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.media-dashboard .media-dashboard-body .form-media .form-group label {
  min-width: fit-content;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .media-dashboard .media-dashboard-body .form-media .form-group {
    grid-template-columns: repeat(3, 1fr);
  }

  .media-dashboard .media-dashboard-body .form-media .form-group input {
    grid-column: span 2;
  }

  .media-dashboard .media-dashboard-body .form-media .roles {
    grid-template-columns: repeat(2, 300px);
  }
}
