/* Container Swiper */
/* .mySwiper-container {
  /* width: 100%; */
  /* height: 20vh; */
/* } */

/* container du slider carousel */
.carousel-slider {
  width:100%;
  margin:auto;
  height:auto;
}

.mySwiper-container img {
  height:20vh;
  width: 100%;
}  

  .swiper-pagination{
  position:absolute;
}

/* Les slides du carousel */
.swiper-slide img{
  width:100%;
  margin:auto;
}