.carousel-container {
  margin-top: 2rem;
}

.carousel-slider-events .swiper {
  padding-bottom: 2rem;
  height: 330px;
}

.carousel-slider-events .swiper-slide img {
  height: 300px;
  object-fit: contain;
}

/* définition de l'overlay du slider */
.overlay-events {
  position: relative;
  transform: translateY(-120px);
  background: hsla(0, 0%, 0%, 0.4);
  color: #fff;
  padding: 0.8rem;
  width: auto;
  height: 6rem;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .carousel-slider-events .swiper {
    height: 410px;
  }

  .carousel-slider-events .swiper-slide img {
    height: 380px;
  }

  ._2zfr {
    width: 100% !important;
    height: auto;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024) {
  .carousel-slider-events .swiper {
    height: 430px;
  }

  .carousel-slider-events .swiper-slide img {
    height: 400px;
  }
}
