/* container du slider carousel */
.carousel-slider {
  width: 100%;
  margin: auto;
  height: auto;
}

.container-events .mySwiper-container img {
  height:300px;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
}

/* Les slides du carousel */
.swiper-slide img {
  width: 100%;
  margin: auto;
}

.carousel-slider .swiper {
height:330px;
}

@media screen and (min-width: 768px) {
  .container-events.swiper-slide img {
    width: 100%;
    margin: auto;
    height: 430px;
  }
}
