.container-info {
  width: 50%;
}

.container-modal{
  position:absolute;
}

.container-modalInfo{
  margin :auto;
  width:70%; 
  position:fixed;
  z-index: 100;
  top:1rem;
}

/* .modal .iframe-info iframe {
  display: none;
} */

.modal-img-info {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal-img-info {
    display: none;
  }
  .modal iframe {
    display: block;
    width: 100%;
    height: 90vh;
    z-index:101;
  }

  .modal-displayPdf {
    width: 90%;
  }

}
