.container-info{
 width:50%;
}

.modal iframe {
  width: 100%;
  height: auto;
  display: none;
}

.modal-img-info{
  width:100%;
}

@media screen and (min-width: 768px) {
  .modal-img-info {
    display: none;
  }
  .modal iframe { 
    display: block;
  }
}
