/* bordure du site */
.homePage {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* grille de la page */
.container-homePage {
  display: grid;
  grid-template-columns: 100%;
  gap: 1.2rem 1rem;
}

.container-events {
  grid-row: 1;
}

.container-info{
  position: relative;
  height:150px;
}

.container-info-button{
  display:flex;
  flex-direction:row;
}

.news {
  display: flex;
  width: 100%;
}

/* Les slides du carousel */
.swiper-slide img {
  width: 100%;
  margin: auto;
}

/* Les flèches du carousel */
.swiper-button-next,
.swiper-button-prev {
  color: rgb(51, 51, 51, 0.2);
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .container-homePage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 430px 250px 300px 450px;
    gap: 2rem 1rem;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024) {
  .container-homePage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 450px 250px 350px 500px;
    gap: 3rem 1rem;
  }

.iframe-info iframe {
height:100%;
  }
}


