.child {
  color: white;
  padding: 1rem;
  width: auto;
  height: auto;
}

.formation-container {
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1rem;
}

.formation-image-container {
  border: 1px solid black;
  height: 20vw;
  width: 68vw;
}

.formation-image {
  font-size: 4vw;
}

.formation-btn-container {
  position: relative;
  left: 46vw;
  bottom: 4vw;
  height: 10vw;
  width: 38vw;
}

.formation-btn {
  width: 100%;
  height: 100%;
  background: #c4c4c4;
  padding: 1vw;
}

@media (min-width: 600px) {
  .formation-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .formation-image-container {
    border: 1px solid black;
    height: 11vw;
    width: 19vw;
  }

  .formation-image {
    font-size: 1vw;
  }

  .formation-btn-container {
    position: relative;
    left: 14vw;
    bottom: 1vw;
    height: 10vw;
    width: 20vw;
  }

  .formation-btn {
    width: 100%;
    height: 100%;
    background: #c4c4c4;
    padding: 1vw;
  }
}
