.home {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-logo {
  position: absolute;
  transform: translateX(-50%);
  top: 50px;
  left: 50%;
  text-align: center;
  color: #e5e5e5;
  z-index: 1;
}

.big-logo img {
  width: 261px;
}

.home .content {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  top: 400px;
  left: 50%;
}

.home .content > *:not(:last-child) {
  margin-bottom: 8rem;
}

.home h1 {
  font-size: 45px;
  color: #e5e5e5;
  z-index: 1;
}

.home h2 {
  font-size: 40px;
  color: #e5e5e5;
  z-index: 1;
}

.home button {
  background-color: #fca311;
  color: #333;
  width: 374px;
  height: 55px;
  font-size: 35px;
  font-weight: bold;
  border: solid;
  border-color: #af1616;
  z-index: 1;
  margin: 1vh auto 2vh;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024px) {
  .home {
    height: 100vh;
  }
}
