.home {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-logo {
  position: absolute;
  transform: translateX(-50%);
  top: 50px;
  left: 50%;
  text-align: center;
  color: #e5e5e5;
  z-index: 1;
}

.big-logo img {
  width: 261px;
}

.home .content {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  top: 42%;
  left: 50%;
}

.home .content > *:not(:last-child) {
  margin-bottom: 4rem;
}

.home h1 {
  color: #e5e5e5;
  z-index: 1;
}

.home h2 {
  color: #e5e5e5;
  z-index: 1;
}

.home a {
  display: block;
  height: 55px;
  font-weight: bold;
  z-index: 1;
  margin: 1vh auto 2vh;
  line-height: 25px;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
  }

  .home .content > *:not(:last-child) {
    margin-bottom: 8rem;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024px) {
  .home {
    height: 100vh;
  }

  .home .content > *:not(:last-child) {
    margin-bottom: 10rem;
  }
}
