.carousel-slider-books .swiper {
  padding-bottom: 2rem;
  height: 300px;
}

.carousel-slider-books .swiper-slide {
  position: relative;
  text-align: center;
}

.carousel-slider-books .swiper-slide img {
  height: 270px;
  object-fit: contain;
  max-width: 300px;
}

.swiper-overlay-books .swipper-overlay-wrapper {
  position: relative;
}

/* définition de l'overlay du slider */
.overlay-books {
  text-align: center;
  position: absolute;
  background: hsla(0, 0%, 0%, 0.4);
  color: #fff;
  padding: 0.8rem;
  width: auto;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  right: 20px;
  cursor: pointer;
  min-width: fit-content;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .carousel-slider-books .swiper {
    height: 300px;
  }

  .carousel-slider-books .swiper-slide img {
    height: 270px;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024) {
  .carousel-slider-books .swiper {
    height: 400px;
  }

  .carousel-slider-books .swiper-slide img {
    height: 370px;
  }
}
