/* Positionnement du logo */

.logo {
  position: absolute;
  width: 30px;
  left: 0.25rem;
  top: 0.25rem;
}

/* Container global access request / member area */

.container-form-access-member {
  display: flex;
  justify-content: space-between;
}

/* Container demande d'accès */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-color: #adadad;
}

/* Stylisation du bouton accès */

.access-request {
  width: 100%;
  height: 50px;
  background-color: #fca311;
  border-radius: 5px;
  border: 2px solid #af1616;
}

/* Stylisation du formulaire member area */

.formulaire-member-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

.wrapper-connect-member-area {
  width: 60%;
}

/* Stylisation du bouton member area */

.connection {
  width: 100%;
  height: 50px;
  background-color: #fca311;
  border-radius: 5px;
  border: 2px solid #af1616;
  margin: 1rem 0;
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
    left: 0.5rem;
    top: 0.5rem;
  }

  .left {
    width: 32%;
  }

  .formulaire-member-area {
    width: 68%;
  }

  .wrapper-connect-member-area {
    width: 60%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 1024px de large */

@media screen and (min-width: 1024px) {
  .logo {
    width: 90px;
    left: 0.75rem;
    top: 0.75rem;
  }

  .left {
    width: 30.8%;
  }

  .formulaire-member-area {
    width: 69.2%;
  }

  .wrapper-connect-member-area {
    width: 60%;
  }
}
