.navbar .wrapper-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .wrapper-navbar .navbar-menu,
.navbar .wrapper-navbar .avatar-logo {
  display: none;
}

.navbar .wrapper-navbar .navbar-logo {
  flex: 1;
}

.navbar .navbar-wrapper-mobile {
  height: 0;
  text-align: center;
  background-color: #adadad;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  transition: height 0.4s;
}

.navbar .navbar-mobile {
  padding: 3rem 0;
}

.navbar .navbar-mobile > *:not(:last-child) {
  padding-bottom: 1.5rem;
}

.navbar .navbar-wrapper-mobile.open {
  height: calc((3 * 43px) + 19px + 6rem); /* 4element dans le menu , le dernier pas de padding, donc 3 * hauteur du <li> + 19 = dernier li sans le padding + 6rem qui correspond au padding du parent */
}

.navbar .wrapper-navbar .burger {
  width: 20px;
  height: 20px;
  position: relative;
}

.navbar .wrapper-navbar .burger.open span:nth-child(2) {
  transform: rotate(45deg);
  position: absolute;
  left: 2px;
  margin-top: 0;
}

.navbar .wrapper-navbar .burger.open span:nth-child(1) {
  position: absolute;
  right: -2px;
  top: 9px;
  transform: rotate(-45deg);
}

.navbar .wrapper-navbar .burger span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #333;
  transition: transform 0.4s;
}

.navbar .wrapper-navbar .burger span:nth-child(2) {
  margin-top: 0.3rem;
}

@media screen and (min-width: 768px) {
  .navbar .navbar-logo img {
    width: 80px;
  }

  .navbar .navbar-wrapper-mobile.open,
  .navbar .navbar-wrapper-mobile {
    display: none;
  }

  .navbar .wrapper-navbar .burger {
    display: none;
  }

  .navbar .wrapper-navbar .avatar-logo {
    display: block;
  }

  .navbar .wrapper-navbar .navbar-menu {
    display: flex;
    margin-right: 2rem;
  }

  .navbar .wrapper-navbar .navbar-menu > *:not(:last-child) {
    padding-right: 2rem;
  }
}
