.navbar {
  padding: 3rem 1rem;
}

.navbar .wrapper-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .wrapper-navbar .navbar-menu,
.navbar .wrapper-navbar .avatar-logo {
  display: none;
}

.navbar .wrapper-navbar .navbar-logo {
  flex: 1;
}

.navbar .wrapper-navbar .burger {
  width: 20px;
  height: 20px;
}

.navbar .wrapper-navbar .burger span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #333;
}

.navbar .wrapper-navbar .burger span:nth-child(2) {
  margin-top: 0.3rem;
}
