.evenementDashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.event-title {
  font-size: 3vw;
}

.SelectComponant-container {
  width: 28vw;
}

.css-b62m3t-container {
  height: 5vw;
}

.css-319lph-ValueContainer {
  height: inherit;
}

.css-1s2u09g-control {
  height: 4vw;
}

.css-6j8wv5-Input {
  height: 1vw;
}

.css-14el2xx-placeholder {
  position: fixed;
}

.selectComponant {
  font-size: 2vw;
}
