.event-title {
  text-align: center;
}

.selectComponant {
  margin-top: 3vw;
}

.evenementDashboard-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.SelectComponent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.eventsBtn-container {
  position: relative;
  margin-top: 2vw;
}

.Events-btn {
  width: 100%;
  height: 100%;
  background: #af1616;
}

.btn-event {
  height: 11vw;
}

@media (min-width: 600px) {
  .evenementDashboard-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .SelectComponent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .event-title {
    text-align: left;
  }

  .selectComponant {
    margin-top: 3vw;
  }

  .events-Input label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
  }

  .events-Input {
    margin-top: 5vw;
  }

  .events-Input input {
    border-color: #fca311;
    grid-column: span 2;
  }

  .eventsBtn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    position: relative;
    width: 20vw;
    left: 55vw;
    top: 2vw;
    margin-bottom: 2vw;
  }

  .Events-btn {
    width: 100%;
    height: 100%;
    background: #af1616;
  }

  .btn-event {
    height: 2vw;
  }

  select {
    width: 100%;
    border: 2px solid #fca311;
    height: 50px;
  }
  .select-evenement {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .select-jobOffers {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .events-select,
  .jobOffers-select {
    margin-left: 52%;
  }

  .event-image-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
  }

  .event-image-container select {
    grid-column: span 2;
  }

  #Text {
    height: 6vw;
    grid-column: span 2;
    border: 2px solid #fca311;
  }

  .event-text-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
  }
}
