.event-title {
  text-align: center;
}

.evenementDashboard-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.eventsBtn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  position: relative;
  width: 20vw;
  top: 2vw;
  margin-bottom: 2vw;
}

.event_button {
  width: 100%;
  height: 100%;
}

.ignores-input-style {
  border: none !important;
  background-color: transparent !important;
  grid-column: span 1 !important;
}

.validate-btn {
  grid-column: 2;
}

.event-description {
  grid-column: span 2;
}

@media (min-width: 600px) {
  .evenementDashboard-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .event-title {
    text-align: left;
  }

  .event-text-container label {
    display: initial !important;
  }

  .events-Input label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
    align-items: center;
  }

  .events-Input {
    margin-top: 5vw;
  }

  .ignores-input-style {
    border: none !important;
    background-color: transparent !important;
    grid-column: span 1 !important;
  }

  .events-Input input {
    grid-column: span 2;
  }

  .eventsBtn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    position: relative;
    width: 20vw;
    top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
  }

  .event_button {
    width: 100%;
    height: 100%;
  }

  .event-image-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
    align-items: center;
  }

  #Text {
    height: 6vw;
    grid-column: span 2;
    border: 2px solid #fca311;
  }

  .event-text-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vw;
  }

  .event_image {
    margin: 0 2rem;
  }
}
