/* Mise en place d'un box-sizing à l'ensemble du site sans marge */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mise en forme du body dans son conteneur */

body {
  background-color: #e5e5e5;
  color: #333;
}

/* Style des input */

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin-top: 0.5rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

input {
  display: flex;
}

input:focus-visible {
  outline: #af1616 auto 1px;
}

/* Style des boutons */

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* Suppression du style des balises ul li par défaut */

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  padding-bottom: 1rem;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  overflow: hidden;
}

.button-red {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #af1616;
  border-radius: 5px;
  color: #e5e5e5;
  margin: 0;
}

.button-yellow {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #fca311;
  border-radius: 5px;
  color: #333;
  margin: 0;
}

.w-100 {
  width: 100%;
}
rem .active {
  background-color: #af1616;
}

/* style des dossiers */

.formation-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(12rem, 1fr));
    grid-gap: 1rem;
}

.child {
  background: red;
   border-radius: 5px;
}

/* .formation-image-container img {
  width: 100%;
  height: 100%;
} */

/* .child .formation-image-container {
  border: 1px solid black;
 width:100%;
} */

/* Style du bouton des dossiers */
.formation-btn-container {
  /* position: relative; */
  display:block;
  transform: translateX(15px);
  transform: translatex(15px);
  bottom: 6rem;
  height: fit-content;
  padding: 0.8rem;
  width: 10rem;
  background: hsla(0, 0%, 0%, 0.6);
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* style des dossiers */
  /* .formation-image-container img {
    width: 19rem;
    height: auto;
  } */
}
