body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.ttf),
    format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  font-style: italic;
  src: local('Montserrat-Italic'), url(./fonts/Montserrat-Italic.ttf),
    format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: bold;
  src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.ttf),
    format('truetype');
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  font-style: bold italic;
  src: local('Montserrat-BoldItalic'), url(./fonts/Montserrat-BoldItalic.ttf),
    format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: medium;
  src: local('Montserrat-Medium'), url(./fonts/Montserrat-Medium.ttf),
    format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: medium italic;
  src: local('Montserrat-MediumItalic'),
    url(./fonts/Montserrat-MediumItalic.ttf), format('truetype');
}
