/* Mise en place d'un box-sizing à l'ensemble du site sans marge */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mise en forme du body dans son conteneur */

body {
  background-color: #e5e5e5;
  color: #333;
}

/* Style des input */

input {
  display: flex;
}

input:focus-visible {
  outline: #af1616 auto 1px;
}

/* Style des boutons */

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

/* Suppression du style des balises ul li par défaut */

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  overflow: hidden;
}

.button-red {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #af1616;
  border-radius: 5px;
  color: #e5e5e5;
  margin: 0;
  border-radius: 5px;
}

.button-yellow {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #fca311;
  border-radius: 5px;
  color: #333;
  margin: 0;
}

.w-100 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
