/* Mise en place d'un box-sizing à l'ensemble du site sans marge */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mise en forme du body dans son conteneur */

body {
  background-color: #e5e5e5;
  color: #333;
}

/* Style des input */

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin-top: 0.5rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

input {
  display: flex;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: #af1616 auto 1px;
}

/* Style des boutons */

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* Suppression du style des balises ul li par défaut */

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.TitleForMobile {
  text-align: center;
  margin: 1em;
}

h3 {
  padding-bottom: 1rem;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  overflow: hidden;
}

.button-red {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #af1616;
  border-radius: 5px;
  color: #e5e5e5;
  margin: 0;
}

.button-yellow {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #fca311;
  border-radius: 5px;
  color: #333;
  margin: 0;
}

.w-100 {
  width: 100%;
}

/* style des dossiers */

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 0;
}

.container .formation-container {
  margin-top: 2rem;
}

.child {
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  height: 301px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.formation-image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Style du bouton des dossiers */

.formation-btn-container {
  display: block;
  bottom: 6rem;
  padding: 0.8rem;
  width: 12rem;
  background: hsla(0, 0%, 0%, 0.4);
  border-radius: 5px;
  width: 100%;
}

.formation-btn {
  width: 100%;
  color: #fff;
}

/* Stylisation des champs input création de compte */

.firstname,
#firstname,
.address,
#address {
  text-transform: capitalize;
}

.lastname,
#lastname,
.city,
#city {
  text-transform: uppercase;
}

.email,
#email {
  text-transform: lowercase;
}

@media screen and (min-width: 620px) {
  /* .formation-container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
  }

  .child {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  } */

  .TitleForMobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-container.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  /* style des dossiers */

  /*
  .formation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  .formation-image-container {
    height: 200px;
    width: 200px;
  }

  .child {
    height: 301px;
    width: 200px;
  } */
}
