.dashboard-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 1rem;
  background-color: #fff;
  z-index: 9;
}

.dashboard-header div {
  display: flex;
  align-items: center;
}

.dashboard-header >:first-child {
  margin-left: 3rem;
}

@media screen and (min-width: 992px) {
  .dashboard-header {
    padding-left: calc(400px + 2.5rem);
  }
  .dashboard-header>:first-child {
    margin-left: 0;
  }
}