.dashboard-user-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-user-search {
  margin-top: 1rem;
}

.dashboard-user-search .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: #c4c4c4;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
  margin-top: 0.5rem;
}

.dashboard-user-search .search-wrapper {
  display: grid;
  gap: 1rem 0;
  margin-top: 1rem;
}

.dashboard-user-content {
  margin-top: 2rem;
  background-color: #c4c4c4;
  padding: 2rem;
}

.dashboard-user-content .info-perso .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox .active-account {
  display: flex;
  align-items: flex-start;
  gap: 0 0.5rem;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-user-content
  .info-perso
  .cotisation
  .cotisation-checkbox
  label
  input {
  margin: 0 !important;
  margin-left: 0.5rem !important;
}

.dashboard-user-content .form-info-perso {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: flex-end;
}

.dashboard-user-content button {
  margin-top: 2rem;
  width: 100%;
}

.dashboard-user-content .info-corpo {
  margin-top: 2rem;
}

.dashboard-user-content .form-info-corpo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  align-items: flex-end;
}

.dashboard-user-content .form-roles {
  margin-top: 3rem;
}

.roles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  width: 100%;
}

.roles :nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.roles :nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.roles :nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

.roles :nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}

.roles :nth-child(6) {
  grid-column: 1;
  grid-row: 6;
}

.roles :nth-child(7) {
  grid-column: 2;
  grid-row: 1;
}

.roles :nth-child(8) {
  grid-column: 2;
  grid-row: 2;
}

.roles :nth-child(9) {
  grid-column: 2;
  grid-row: 3;
}

.roles :nth-child(10) {
  grid-column: 2;
  grid-row: 4;
}

.roles :nth-child(11) {
  grid-column: 2;
  grid-row: 5;
}

.roles>*:not(:last-child) {
  margin-right: 1rem;
  text-transform: capitalize;
}

.roles input {
  margin-right: 1rem;
}

.roles div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .dashboard-user-search {
    display: flex;
    gap: 0 2rem;
  }

  .dashboard-user-content .info-perso .cotisation {
    display: flex;
    gap: 0 1rem;
  }

  .dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
    margin-top: 0;
  }

  .dashboard-user-search .user-avatar {
    width: 50%;
  }

  .dashboard-user-search .user-avatar :nth-child(1) {
    height: 50%;
    width: 50%;
  }

  .dashboard-user-search .search-wrapper {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 91px);
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .dashboard-user-search .search-wrapper button {
    margin-top: 1.5rem;
  }

  .dashboard-user-content .form-info-perso {
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard-user-content .form-info-perso :nth-child(7) {
    grid-column: 1 / 3;
  }

  .dashboard-user-content .form-info-perso button {
    grid-column: 3;
  }

  .dashboard-user-content .form-info-corpo {
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard-user-content button {
    display: block;
    width: inherit;
    margin-left: auto;
    margin-top: 2rem;
  }
  
  .roles {
    grid-template-columns: repeat(3, 1fr);
  }

  .roles :nth-child(5) {
    grid-column: 2;
    grid-row: 1;
  }

  .roles :nth-child(6) {
    grid-column: 2;
    grid-row: 2;
  }

  .roles :nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .roles :nth-child(8) {
    grid-column: 2;
    grid-row: 4;
  }

  .roles :nth-child(9) {
    grid-column: 3;
    grid-row: 1;
  }

  .roles :nth-child(10) {
    grid-column: 3;
    grid-row: 2;
  }

  .roles :nth-child(11) {
    grid-column: 3;
    grid-row: 3;
  }
}
