.dashboard-user-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-user-search {
  margin-top: 1rem;
}

.dashboard-user-search .user-avatar {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: #c4c4c4;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
  margin-top: 0.5rem;
}

.dashboard-user-search .search-wrapper {
  display: grid;
  gap: 1rem 0;
  margin-top: 1rem;
}

.dashboard-user-content {
  margin-top: 2rem;
  background-color: #c4c4c4;
  padding: 2rem;
}

.dashboard-user-content .info-perso .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
  display: flex;
  flex-direction: column;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-user-content .info-perso .cotisation .cotisation-checkbox label input {
  margin: 0 !important;
  margin-left: 0.5rem !important;
}

.dashboard-user-content .form-info-perso {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dashboard-user-content .form-info-perso button {
  grid-column: 2;
}

.dashboard-user-content .info-corpo {
  margin-top: 2rem;
}

.dashboard-user-content .form-info-corpo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dashboard-user-content .form-info-corpo button {
  grid-column: 2;
}

@media screen and (min-width: 768px) {
  .dashboard-user-search {
    display: flex;
    gap: 0 2rem;
  }

  .dashboard-user-content .info-perso .cotisation {
    display: flex;
    gap: 0 1rem;
  }

  .dashboard-user-content .info-perso .cotisation .cotisation-checkbox {
    margin-top: 0rem;
  }

  .dashboard-user-search .user-avatar {
    width: 50%;
  }

  .dashboard-user-search .search-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }

  .dashboard-user-search .search-wrapper button {
    max-height: inherit;
    margin-top: auto;
    margin-bottom: 8px;
  }

  .dashboard-user-content .form-info-perso {
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard-user-content .form-info-perso :nth-child(7) {
    grid-column: 1 / 3;
  }

  .dashboard-user-content .form-info-perso button {
    grid-column: 3;
  }

  .dashboard-user-content .form-info-corpo {
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard-user-content .form-info-corpo button {
    grid-column: 3;
    max-height: inherit;
    margin-top: auto;
  }
}
